@tailwind utilities;

.cm-editor {
    background: transparent !important;
}

.cm-editor:not(.cm-focused) .cm-activeLine,
.cm-editor:not(.cm-focused) .cm-activeLineGutter {
    background: transparent !important;
}

.cm-editor * {
    font-family: inherit ;
    font-size: 15px;
    line-height: 25px;
}

.cm-lineNumbers {
    padding-right: 10px;
}

.cm-content {
    padding: 0.5rem !important;
}
